# Content API Endpoint
HYGRAPH_ENDPOINT=
# Token if you don't want an open content API
HYGRAPH_TOKEN=
# Token that serves all content from DRAFT stage
HYGRAPH_PREVIEW_TOKEN=
# String to match in Live Preview query parameters
HYGRAPH_QUERY_SECRET=